# Sample Service with auto restart to handle network interrupts

[Unit]
Description=Nano Prom Service
[Service]
#https://github.com/nanocurrency/nano_prom_exporter/#sample-configini for sample config.ini
ExecStart=/usr/local/bin/python3.7 -m nano_prom_exporter --config_path /path/to/config.ini 
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=5
[Install]
WantedBy=default.target